// you can change colors here
$theme-color: #096dd9;

$bg-color: (
  light: #eeeeee,
  dark: #1d1a22,
);

// 导航栏高度
$navbar-height: 3.8rem;
// 导航栏水平填充(建议别动)
$navbar-horizontal-padding: 1.5rem;
// 导航栏垂直填充(建议别动)
$navbar-vertical-padding: 0.7rem;
// 移动设备上的导航栏高度
$navbar-mobile-height: 3.25rem;
// 移动设备上的导航栏水平填充(建议别动)
$navbar-mobile-horizontal-padding: 1rem;
// 移动设备上的导航栏垂直填充(建议别动)
$navbar-mobile-vertical-padding: 0.5rem;

// 侧边栏宽度
$sidebar-width: 19rem;
// 移动设备侧边栏宽度
$sidebar-mobile-width: 16rem;

// 主要内容的宽度
$content-width: 1000px;
// 主页内容的宽度
$home-page-width: 1200px;